#playArea{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
}

#player1Area,#player2Area {
    display: inline-block;
    width: 150px;
    height: 100px;
    border: 1px solid black;
    text-align: center;
}

#rollBttn {
    display: block;
    width:310px;
    margin: 10px 0px;
}

#player1Dice,#player2Dice {
    display: inline-block;
    position: absolute;
    font-size: 100px;
 
    transform: translate(-50%, -30%);
}

.ptitle{
    font-family: cursive;    
}

#infoMsg {
    text-align: center;
}