#playArea{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
}

#player1Area,#player2Area {
    display: inline-block;
    width: 150px;
    height: 100px;
    border: 1px solid black;
    text-align: center;
}
#player1Dice,#player2Dice{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    margin: 15px 50px;
}

#rollBttn {
    display: block;
    width:310px;
    margin: 10px 0px;
}

.p1dots, .p2dots {
    display: inline-block;
    margin:4px 5px;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: black;
}

.p1dots#p1Two,.p1dots#p1Five,.p1dots#p1Eight,.p2dots#p2Two,.p2dots#p2Five,.p2dots#p2Eight {
    visibility: hidden;
}

.ptitle{
    font-family: cursive;    
}

#infoMsg {
    text-align: center;
}